<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white" *ngIf="isLoading">Loading...</p>
</ngx-spinner>

<div class="container-fluid">
    <app-carousel></app-carousel>
</div>
<hr>
<!----<mat-spinner *ngIf="isLoading"> </mat-spinner>  -->
<div class="container" multi="true" *ngIf="posts.length > 0 && !isLoading">


    <div class="row">
        <div class="col-md-3 col-sm-6" *ngFor="let post of posts">
            <div class="product-grid2">
                <div class="product-image2">
                    <a>
                        <img class="pic-1" [src]="post.imagePath" [alt]="post.title">
                        <img class="pic-2" [src]="post.imagePath" [alt]="post.title">
                    </a>
                    <!----  <ul class="social" *ngIf="userIsAuthenticated && userId === post.creator">
                  <li><a  data-tip="Delete" [routerLink]="['/edit', post.id]"><i class="fa fa-trash"></i></a></li>
                  <li><a  data-tip="Edit" (click)="onDelete(post.id)"><i class="far fa-edit"></i></a></li>
              </ul>  -->
                    <a class="add-to-cart" href="" triggers="mouseenter:mouseleave" [popover]="post.content" [popoverTitle]="post.category">{{ post.title }}</a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a>{{post.category}}</a></h3>
                    <span class="price">  {{ post.content }}</span>
                </div>
            </div>
        </div>
    </div>
</div>


<!----<div class="container" multi="true" *ngIf="posts.length > 0 && !isLoading">


<div fxLayout="row wrap" fxLayoutAlign="space-around center" >
  <div  *ngFor="let post of posts">
    <mat-card class="example-card" layout="row">
      <mat-card-header>
        <mat-card-title>  {{ post.title }}</mat-card-title>
        <mat-card-subtitle>{{post.category}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="post.imagePath" [alt]="post.title">
      <mat-card-content>
        <p>
          {{ post.content }}
        </p>
      </mat-card-content>
    </mat-card>

  </div>

</div>
</div> -->
<mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="posts.length > 0"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">No posts added yet!</p>
<hr>
