
<div class="container">
    <div class="row">
     <!----   <div class="col-md-3">
          <div class="card border-success mx-sm-1 p-3">
            <div class="card border-success shadow text-success p-3 my-card"><span class="fa fa-list" aria-hidden="true"></span></div>
            <div class="text-success text-center mt-3"><a  routerLink="/showcategorylist" routerLinkActive="text-dark"><h4>Show Category<h4></a></div>
        </div>
        </div> -->
        <div class="col-md-3">
          <div class="card border-info mx-sm-1 p-3">
              <div class="card border-info shadow text-info p-3 my-card" ><span class="fa fa-list" aria-hidden="true"></span></div>
              <div class="text-info text-center mt-3"> <a  routerLink="/showcategorylist" routerLinkActive="text-dark"><h4>CategoryList</h4></a>
              </div>
          </div>

      </div>
            <div class="col-md-3">
                <div class="card border-info mx-sm-1 p-3">
                    <div class="card border-info shadow text-info p-3 my-card" ><span class="fa fa-plus" aria-hidden="true"></span></div>
                    <div class="text-info text-center mt-3"> <a  routerLink="/create" routerLinkActive="text-dark"><h4>CREATE</h4></a>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card border-success mx-sm-1 p-3">
                    <div class="card border-success shadow text-success p-3 my-card"><span class="fa fa-list" aria-hidden="true"></span></div>
                    <div class="text-success text-center mt-3"><a  routerLink="/list" routerLinkActive="text-dark"><h4>LIST</h4></a></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-success mx-sm-1 p-3">
                    <div class="card border-success shadow text-success p-3 my-card"><span class="fa fa-plus" aria-hidden="true"></span></div>
                    <div class="text-success text-center mt-3"><a  routerLink="/createcategory" routerLinkActive="text-dark"><h4>Create Category</h4></a></div>
                </div>

            </div>

         </div>
    </div>
